/* mobile */
@media (max-width: 743px){

    @keyframes header{
        0%{
            background: #000;
            height: 120px;
        }
        100%{
            background: #fff;
            height: 80px;
        }
    }
    
    @keyframes header2{
        0%{
            height: 80px;
            background: #fff;
        }
        100%{
            height: 120px;
            background: #000;
        }
    }
}

@media(max-width: 848px){
}

/* tablet */
@media (min-width: 744px) and (max-width: 949px){
    .nav__mid{
        transform-origin: initial ;
    }

    @keyframes navmid{
        0%{
            transform: translate(0) scale(1);
            opacity: 1;
        }
        100%{
            transform: translate(-35%, -70px) scale(0);
            opacity: 0;
        }
    }
    
    @keyframes navmid2{
        0%{
            transform: translate(-35%, -70px) scale(0);
            opacity: 0;
        }
        100%{
            transform: translate(0) scale(1);
            opacity: 1;
        }
    }

    @keyframes customer{
        0%{
            transform: translateY(0) scale(1);
            opacity: 1;
        }
        100%{
            transform: translateY(-120px) scale(0);
            opacity: 0;
        }
    }
    
    @keyframes customer2{
        0%{
            transform: translateY(-120px) scale(0);
            opacity: 0;
        }
        100%{
            transform: translateY(0) scale(1);
            opacity: 1;
        }
    }
}
/* PC low */
@media (min-width: 949px) and (max-width: 1127px){
    .customer{
        transform-origin: 50% top;
    }
}