.col{
    flex-basis: 20%;
    max-width: 20%;
    padding-right: 8px;
    padding-left: 8px;
    padding-bottom: 16px;
}

/* customer__account */
.custommer__account {
    position: absolute;
    width: 240px;
    top: 130%;
    right: 0;
    background: var(--white_color);
    border-radius: 12px;
    color: #757577;
    font-weight: lighter;
    font-size: 1.5rem;
    z-index: 10;
    box-shadow: 0 0 5px rgba(179, 179, 179, 0.7);
}

.custommer__account li:first-child{
    color: #000;
    font-weight: 500;
}

.custommer__account li:hover{
    background-color: var(--hover_color);
    cursor: pointer;
}

/* smart__find */
.smart__find {
    position: absolute;
    z-index: 2;
    top: 120%;
    left: 0%;
    background: var(--white_color);
    width: 400px;
    height: 150px;
    border-radius: 30px;
    padding: 24px 32px;
    cursor: default;
}

.smart__find-medium{
    height: 100px;
    padding: 0 24px;
}

.smart__find-container{
    padding: 24px 0;
}

.smart__find-img{
    width: 50px;
    border-radius: 7px;
}

.smart__find-dct{
    font-size: 1.8rem;
    font-weight: lighter;
    margin-left: 16px;
}

.form__control{
    border: none;
    background: transparent;
    outline: none;
}

.smart__find-hd{
    font-size: 1.3rem;
    font-weight: bold;
    padding-bottom: 24px;
}

.smart__find-btn{
    box-shadow: 3px 1px 5px 2px rgba(179, 179, 179, 0.7);
    border: 1px solid #eee;
    width: 100%;
    border-radius: 50px;
    align-items: center;
}

.smart__find-btn p{
    padding: 12px;
    font-size: 1.8rem;
    color: #9b0e95;
    font-weight: 600;
}

/* calender */
.item__calender {
    position: absolute;
    z-index: 15;
    width: 100%;
    height: 420px;
    top: 120%;
    left: 0;
    border-radius: 30px;
    background: rgb(255, 255, 255);
    cursor: default;
    overflow-y: auto;
    overflow-x: hidden;
}

.calender__choice{
    background: var(--hover_color);
    border-radius: 20px;
    margin-top: 24px;
    margin-bottom: 32px;
}

.calender__title{
    padding: 3px 16px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 1.4rem;
    color: #222;
    font-weight: bold;
    border-radius: 20px;
}

.calender__title:first-child{
    background: var(--white_color);
    margin-left: 4px;
    margin-right: 8px;
}

.calender__title:hover{
    cursor: pointer;
}

.calender__grid-body{
    margin: 0 -25px;
}

.calender__grid-item{
    padding: 0 25px;
}

.calender__month-year{
    color: rgb(34, 34, 34);
    font-size: 1.6rem;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.back__arrow{
    position: absolute;
    left: -2%;
    top: -8%;
}

.forward__arrow{
    position: absolute;
    right: -2%;
    top: -8%;
}

.back__arrow:hover, 
.forward__arrow:hover{
    background: var(--border_color);
}

.calender__date{
    font-size: 1.3rem;
    text-align: center;
    font-weight: 500;
    width: 48px;
    height: 47px;
    display: inline-block;
    color: #222;
    border-radius: 50%;
    border: 1.5px solid transparent;
}

td > .row.ali-center.jus-center{
    width: 100%;
    height: 100%;
}

.calender__date-color{
    color: #d5d5d5;
}

.calender__date-color2{
    color: #717171;
}

.calender__date:hover{
    border: 1.5px solid;
    cursor: pointer;
}

.calender__date--no:hover{
    border-color: transparent;
    cursor: default;
}

.exactly__date{
    margin: 24px 55px;
}

.exactly__date-item{
    padding: 4px 12px;
    color: #222;
    font-size: 1.4rem;
    font-weight: 400;
    border: 1px solid rgb(221, 221, 221);
    border-radius: 22px;
    margin-right: 12px;
}

.exactly__date-item:first-child,
.exactly__date-item:first-child:hover{
    border: 2px solid;
}

.exactly__date-item:hover{
    border: 1px solid;
    cursor: pointer;
}

.fa-plus-minus{
    margin-right: 8px;
    font-size: 0.9rem;
}

/* customer__list */
.customer__list {
    position: absolute;
    right: 0;
    top: 120%;
    background: var(--white_color);
    width: 400px;
    height: 370px;
    border-radius: 30px;
    cursor: default;
}

.customer__list-body{
    padding: 24px 28px;
}

.customer__count h5{
    font-size: 1.5rem;
}

.customer__age{
    color: #717171;
    font-size: 1.25rem;
}

.customer__age-note{
    color: #000;
    text-decoration: underline;
    font-weight: bold;
    cursor: pointer;
}

.count__math .fa-minus{
    color: rgb(235, 235, 235);
    border-color: rgb(235, 235, 235);
}

.count__math .fa-minus:hover{
    cursor: not-allowed;
}

.count__math .fa-plus:hover{
    cursor: pointer;
    color: #000;
    border-color: #000;
}

.count__function{
    font-size: 1.5rem;
    width: 35px;
    text-align: center;
    font-weight: 400;
}

.customer__note{
    font-size: 1.4rem;
    color: #717171;
    padding: 12px 0 0;
}

/* pet__service */
.pet__service{
    position: fixed;
    z-index: 10;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(0,0,0,0.3);
    display: flex;
    align-items: center;
    justify-content: center;
}

.pet__service-body{
    background: var(--white_color);
    width: 45%;
    height: 85%;
    border-radius: 15px;
    padding: 14px;
    overflow-y: auto;
    animation: fadeIn 0.5s ease;
}

.pet__header{
    position: fixed;
}

.pet__content{
    margin-top: 50px;
    padding: 0 10px;
}

.pet__img{
    width: 100%;

}

.pet__title{
    font-size: 2.3rem;
    padding: 12px 0;
    color: #222;
}

.pet__dct{
    font-size: 1.5rem;
    padding-bottom: 12px;
    color: #222;
}

/* change__language-layout */
.change__language-layout{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 999;
    background: rgba(0,0,0,0.2);
    justify-content: center;
    align-items: center;
    display: none;
}

.layout__container{
    position: absolute;
    background: var(--white_color);
    border-radius: 15px;
    width: 85vw;
    animation: fadeIn 0.5s ease;
}

.layout__header{
    padding: 0 12px;
}   

.close__layout{
    background: var(--white_color);
    padding-top: 15px;
}

.close__layout-icon{
    padding: 9px 12px;
    font-size: 1.7rem;
    border-radius: 50%;
}

.close__layout-icon:hover{
    cursor: pointer;
    background-color: var(--hover_color);
}

.layout__body{
    margin-top: 20px;
    height: 500px;
    padding: 0 24px;
    overflow-y: auto;
    overflow-x: hidden;
}

.choose__layout{
    border-bottom: 1px solid var(--border_color);
    padding-bottom: 6px;
    margin-bottom: 40px;
}

.layout__item{
    font-size: 1.5rem;
    border-radius: 10px;
    padding: 8px 12px;
    color: #b9b9b9;
    font-weight: 500;
}

.layout__item:first-child{
    margin-left: -12px;
    margin-right: 8px;
}

hr[class*="layout__item-slash"]{
    width: 100%;
    position: absolute;
    top: 36px;
    display: none;
    background: #000;
    border: 1px solid;
}

.layout__item:hover{
    background-color: var(--hover_color);
    cursor: pointer;    
}

.translate__language{
    display: none;
}

.translate__container{
    width: 500px;
    background: #f7f7f7;
    border-radius: 10px;
    padding: 14px 16px;
}

.translate__hd{
    font-size: 1.6rem;
    font-weight: normal;
    color: #222;
    padding-bottom: 4px;
}

.translate__dct{
    font-size: 1.5rem;
    color: #9c9c9c;
    font-weight: lighter;
}

.fa-language{
    padding-left: 4px;
}

.turn__on-off{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 18px;
    width: 54px;
    height: 33px;
    border-radius: 55px;
    background: rgb(94, 224, 94);
}

.turn__on-off.background{
    background: rgb(244, 72, 72);
}

.fa-circle-check{
    position: absolute;
    font-size: 3rem;
    color: var(--white_color);
    transform: translateX(72%);
    transition: transform 0.3s linear;
    top: 5%;
}

.fa-circle-check.translate9{
    transform: translateX(9%);
}

.turn__on-off:hover{
    cursor: pointer;
}

.language__recomend{
    padding: 40px 0 30px;
}

.language__title{
    font-size: 2.3rem;
    font-weight: 500;
    padding-bottom: 12px;
}

.language__list{
    margin: 0 -8px;
}

.language__item{
    padding: 8px 12px;
    border-radius: 10px;
}

.language__item:hover{
    cursor: pointer;
    background-color: var(--hover_color);
}

.language__name{
    font-size: 1.5rem;
    line-height: 1;
    font-weight: 300;
    color: #222;
}

.language__country{
    font-size: 1.3rem;
    color: #969696;
}

/* security */
#security{
    position: fixed;
    z-index: 999;
    bottom: 2%;
    margin: 0 80px 15px 80px;
    padding: 24px;
    background-color: var(--white_color);
    color: #484848;
    box-shadow: rgb(0 0 0 / 28%) 0px 8px 28px;
    border-radius: 10px;
    /* display: none; */
}

.security__hd{
    font-size: 1.7rem;
}

.fa-lock{
    color: #428bff;
    margin-left: 10px; 
    font-size: 1.6rem;
}

.security__dct{
    font-size: 1.45rem;
}

.security__dct a{
    text-decoration: underline;
    color: #222;
    font-weight: bold;
}

#security span{
    display: inline-block;
    font-size: 1.8rem;
    font-weight: 400;
    color: #222;
    min-width: 150px;
    width: 170px;
    padding: 8px 0;
    border: 1px solid;
    border-radius: 5px;
    text-align: center;
    margin-top: 18px;
    margin-right: 4px;
    cursor: pointer;
}

#security span:hover{
    background: rgb(247, 247, 247);
}

#security span:last-child{
    background: #222;
    color: var(--white_color);
    font-weight: bold;
}

#security span:last-child:hover{
    background: #000;
}

.sign-up__layout{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.3);
    display: none;
    z-index: 999;
}

.sign-up__container{
    width: 555px;
    background: var(--white_color);
    border-radius: 15px;
    animation: fadeIn 0.5s ease;
}

.sign-up__header{
    padding: 0 0 12px 12px;
}

.sign-up__container .close__layout{
    width: 530px;
    border-top-left-radius: 15px;
}

.sign__up-title{
    position: absolute;
    font-size: 1.6rem;
    left: 50%;
    transform: translateX(-50%);
}

.sign-up__content{
    height: 500px;
    padding: 24px 24px;
    overflow-y: auto !important;
}

.sign__up-welcome{
    font-size: 2.2rem;
    font-weight: 600;
    word-spacing: 2px;
}

.country__select{
    border: 1px solid var(--border_color);
    border-radius: 10px;
    margin-top: 24px;
}

.country__option,
.country__select input{
    outline: none;
    border: none;
    width: 100%;
}

.country__option{
    padding: 28px 0px 12px 8px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.country__select .relative::after{
    content: "";
    display: block;
    position: absolute;
    background: #b0b0b0;
    width: 100%;
    height: 1.5px;
}

.region_country{
    position: absolute;
    top: 4px;
    left: 12px;
    font-size: 1.3rem;
    color: rgb(113, 113, 113);
}

.country__option{
    font-size: 1.5rem;
}

.country__select input[name = phone__number]{
    height: 55px;
    padding-left: 12px;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    font-size: 1.6rem;
}

.sign-up__call{
    font-size: 1.26rem;
    color: #222;
    margin: 12px 0 16px;
}

.sign-up__call a{
    color: #222;
    text-decoration: underline;
    font-weight: bold;
}

.continue__button{
    width: 100%;
    border: none;
    background: #e41d58;
    color: var(--white_color);
    height: 50px;
    border-radius: 8px;
    font-size: 1.6rem;
    cursor: pointer;
}

.slashed{
    margin: 24px 0;
}

.slash__or{
    position: absolute;
    z-index: 1;
    background: var(--white_color);
    top: -10px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 1.3rem;
    color: #484844;
    width: 56px;
    text-align: center;
}

.continue-with__button{
    width: 100%;
    height: 50px;
    border: 1px solid;
    border-radius: 8px;
    margin-bottom: 16px;
    cursor: pointer;
}

.continue-with__button:hover {
    background: var(--hover_color);
}

.continue-with__button img{
    width: 26px;
    margin-left: 18px;
}

.continue-with__button p {
    text-align: center;
    flex: 1;
    font-size: 1.5rem;
}

.continue-with__button i{
    font-size: 26px;
    width: 26px;
    margin-left: 19px;
}

/*=================== navbar ====================*/
#navbar__mobile{
    background-color: var(--white_color);
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    height: 64px;
}

.nav-mobile__item{
    text-align: center;
    font-size: 2.3rem;
    color: #b6b6b6;
    line-height: 1.4;
    cursor: pointer;
}

.nav-mobile__item p{
    text-align: center;
    font-size: 1.1rem;
    color: inherit;
    font-weight: 500;
    cursor: pointer;
    font-weight: bold;
    color: var(--text_color);
}

.navbar__mobile .nav-mobile__item:hover{
    color: var(--rgb_color--light-red);
}
/*=================== navbar ====================*/